<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>
    <div class="display-3">
        <h1>Список пользователей из БД</h1>
        {% for user in users %}
            <h2>{{ user.name }}</h2>
            <p>{{ user.email}}</p>
            <p>{{ user.phone}}</p>
        {% endfor %}
    </div>
</body>
</html>